.img_article {
    width: 60%;
    height: auto;
    margin-top: 5%;
}

.img_selection{
    width: 100%;
    max-width: 440px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.img_fil {
    width: 110%;
    height: auto;
    margin-top: -10%;
    margin-bottom: -20%;
}

.img_frise{
    width: 100%;
    height: auto;
}

