.img_article {
    width: 60%;
    height: auto;
    margin-top: 5%;
}

.img_selection{
    width: 100%;
    max-width: 440px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10%;
}

.img_fil {
    width: 110%;
    height: auto;
    margin-top: -10%;
    margin-bottom: -20%;
}

.video {
    position: relative;
    margin-left: 20px;
    margin-right: 30px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.video video{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autres_articles img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    object-fit: cover;
    display: block;
}

.bouton_autres_articles img {
    width: 24px;/* Taille fixe pour la flèche */
    height: 24px;
    gap: 12px;
    flex-shrink: 0;/* Empêche la flèche de rétrécir */
    background-color: transparent !important;
    mix-blend-mode: multiply;
}

.timeline-block img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    outline: none;
}
