.hero {
    width: 100%;
    z-index: 1;
    position: static;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 2;
    bottom: 140px;
}

h1 {
    z-index: 3;
    font-family: var(--header1);
    font-size: var(--header1-t);
    color: var(--blanc);
    text-align: left;
    line-height: 1.1;
    -webkit-text-stroke: 1px black;
    margin-top: -25vh; /* Ajuster la position verticale du texte */
    margin-left: 10%;
}

.content,
h3,
h2,
.img_selection,
.texte_gras,
.section-suivante {
    padding-top: 70px;
}

.texte {
    padding-top: 40%;
    padding-bottom: 20%;
}
